html
{
    margin: 0%;
    min-width: 820px;
}

body
{
    margin: 0%;
    min-width: 720px;
    background-color: #7E84F2;
}


/* Header  */
h1
{
    border: 5px solid black;
}

.header
{   
    margin: 0px;
    padding: 10px;

    

    border: 1px solid white;
    
    /* Design Template  */
    text-align: center;
    color: white;
    background-color: #552E8C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Super Container Element parent of all except Header and body  */


.element
{
    display: block;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    
    /* Design Template */
    border-radius: 5px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255,255,255,0.7);
    color: #552E8C;
}

.comment
{
    padding-bottom: 10px;
}


.input
{
    display: inline-block;
    width: 200px;
    color: #552E8C;
}

.space
{
    display: inline-block;
}

.element input
{
    padding: 5px;
    width: 200px;
    
    /* Design Template */
    outline: none;
    border: 1px solid #552E8C;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #552E8C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.element input:hover
{
    border: 2px solid #552E8C;
    border-radius: 5px;
}

.element select 
{
    padding: 5px;
    width: 200px;

    border: 1px solid  #552E8C;
    border-radius: 5px;
    color: #552E8C;
    outline: none;
}

.element select:hover
{
    border: 2px solid  #552E8C;

}


.button
{

    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    background-color: rgba(255,255,255,0.7);
}

.button button
{

    padding: 5px;
    width: 75px;
    border: 0px solid ;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 1px 1px 3px #552E8C;
    border: 1px solid #552E8C;
    color: #552E8C; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}
.button button:hover
{
    background-color: #552E8C;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px black;
    zoom: 1.1;
}
