html
{
    margin: 0px;
    min-width: 500px;
}

body
{
    margin: 0px;
    background-color: #7E84F2;
}

.element
{
    padding: 0px;
}
textarea
{
    width: 96%;
    margin: 1%;
    padding: 1%;
    outline: none;
}

.header
{   
    margin: 0px;
    padding: 10px;

    

    border: 1px solid white;
    
    /* Design Template  */
    text-align: center;
    color: white;
    background-color: #552E8C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button
{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;

    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d3d4f9;
    border-radius: 5px;
    border: 1px solid black;

}

.button button
{
    width: 75px;
    
    padding-top: 3px;
    padding-bottom: 3px;
    border: 0px solid ;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #552E8C;
    border: 1px solid #552E8C;
    color: #552E8C; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}

.button button:hover
{
    cursor: pointer;
    
    zoom: 1.1;
    color: white;
    background-color: #552E8C;
    box-shadow: 2px 2px 4px black;
}


/* Top Menu bar  */
.menu
{
    border: 1px solid white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

    /* Design Templates */
    background-color: #0D0D0D;
    color: white;

}

/* Menu buttons  */
.menubar
{
    display: flex;
    justify-content: flex-start;
}

.menubar button
{
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 50px;

    /* Design Template */
    width: 75px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menubar select
{
    margin: 5px;
    padding: 5px;

    /* Design Template */
    width: 200px;
    color: white;
    background-color: black;
    border: 1px solid white;

    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;

}

.text
{
    margin: 5px;
    padding-top: 4px;
    padding-bottom: 3px;

    /* Design Template */
    /* width: 75px; */
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border: 1px solid white; */
}

.menubar button:hover
{
    border: 2px solid white;
}

.menubar select:hover
{
    border: 2px solid white;
}
