<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.container {
  display: flex;
  height: 200px; /* adjust the height as needed */
}

.content {
  width: 250px; /* Set the desired width value */
  background-color: #f1f1f1;
}

.filler {
  background-color: #ccc;
  flex: 1;
}
</style>
</head>
<body>
    <div class="container">
        <div class="content">Content</div>
        <div class="filler"> </div>
      </div>
</body>
</html>